.sidebar {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
  align-items: stretch;
  background-color: #f3eded;
  // overflow-x: hidden;
  &_container {
    flex-basis: 15rem;
    flex: 4;
    min-width: 20rem;
    box-sizing: border-box;
    padding: 1.2rem;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    &_box {
      background-color: aliceblue;
      height: 100%;
      width: 100%;
      background: #ffffff;
      box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
      border-radius: 40px;
      padding: 0.2rem;
      display: flex;
      flex-direction: column;
      align-content: stretch;
    }
  }
}
.main {
  flex: 10;
  height: 100vh;
  flex-basis: 40rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 1rem;
  padding-left: 0;
  box-sizing: border-box;
  .topbar {
    height: 6rem;
    width: 100%;
    background-color: red;
    background: #ffffff;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 2rem;
    &_button {
      display: flex;
      flex-direction: column;
      justify-content: center;
      cursor: pointer;
      & .button {
        margin-top: 0.5rem;
        background-color: #1977f3;
        border-radius: 40px;
        padding: 0.6rem;
        color: white;
        display: flex;
        align-items: center;
        img {
          height: 1rem;
          width: 1rem;
          object-fit: contain;
        }
      }
    }
    &_search {
      // margin-left: auto;
      display: flex;
      align-items: center;
      border: 1px solid #ccc5c5;
      height: 3rem;
      border-radius: 40px;
      padding: 1rem;
      box-sizing: border-box;
      width: 30rem;
      input {
        border: none;
        padding: 0.2rem;
        box-sizing: border-box;
        font-size: 1rem;
        width: 28rem;
      }
      input:focus {
        outline: none;
      }
      input::placeholder {
        color: #656565;
      }
    }
  }
  &_info_right {
    justify-self: stretch;
    height: 90%;
  }
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  margin-bottom: 2rem;
  cursor: pointer;
  img {
    height: 8rem;
    width: 8rem;
    object-fit: contain;
  }
}

.sidebar_button {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 90%;
  box-sizing: border-box;
  padding: 1rem;
  padding-left: 1.5rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 40px;
  color: #8a8a8a;
  text-decoration: none;
  margin-bottom: 1rem;
  cursor: pointer;
  &_icon {
    margin-right: 1rem;
  }
  & img {
    height: 1rem;
    width: 1rem;
    object-fit: contain;
  }
}
.active {
  background-color: #1977f3;
  color: white;
}
.line {
  border-top: 0.5px solid #ccc5c5;
  width: 90%;
  margin: 0 auto;
}
.love {
  display: flex;
  justify-content: center;
  margin-top: auto;
  margin-bottom: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  // margin-left: auto;
  img {
    object-fit: contain;
  }
  &_profile {
    // margin-left: 3rem;
    margin-left: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    font-weight: 600;
    img {
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      margin-left: 1rem;
    }
    & svg {
      height: 3rem;
      width: 3rem;
    }
  }
}

.search_container {
  width: 100%;
  height: 98%;
  background: #ffffff;
  margin-top: 1rem;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 40px;
  padding: 2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  column-gap: 0.5rem;
  row-gap: 0.5rem;
  // overflow-y: scroll;
    // overflow-x: hidden;
  // &::-webkit-scrollbar {
  //   width: 5px;
  // }

  // /* Track */
  // &::-webkit-scrollbar-track {
  //   background: #f1f1f1;
  // }

  // /* Handle */
  // &::-webkit-scrollbar-thumb {
  //   background: #888;
  // }

  // /* Handle on hover */
  // &::-webkit-scrollbar-thumb:hover {
  //   background: #555;
  // }
  &_card {
    margin-top: 2rem;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    box-sizing: border-box;
    // background-color: red;
    .card {
      border-radius: 40px;
      background: #fff;
      box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.1);
      height: 18rem;
      min-width: 14rem;
      //   padding: 1rem;
      //   background-color: green;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      border: 2px solid #e02e2e;
      cursor: pointer;
      //   justify-content: space-around;

      // &_warning {
      //   justify-self: flex-start;
      //   align-self: stretch;
      //   border-top-right-radius: 35px;
      //   border-top-left-radius: 35px;
      //   height: 2rem;
      //   background-color: red;
      //   display: flex;
      //   flex-direction: row;
      //   align-items: center;
      //   justify-content: flex-start;
      //   padding: 0.5rem;
      //   box-sizing: border-box;
      //   color: #f1f1f1;
      //   font-size: 0.8rem;
      //   margin-bottom: 1rem;
      //   // background-color: #e02e2e;
      //   img {
      //     height: 1.4rem;
      //     width: 1.4rem;
      //     margin-right: 5px;
      //   }
      //   .notification {
      //     margin-left: auto;
      //     transform: translateY(-60%);
      //   }
      // }
      &_img {
        justify-self: center;
        margin-top: auto;
        position: relative;
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 2rem;
        width: 2rem;
        // margin-top: auto;
        // background-color: #e02e2e;
        .profile {
          border-radius: 50%;
          object-fit: contain;
          border: 2px solid orange;
          //   position: absolute;
        }
        svg {
          height: 4rem;
          width: 4rem;
        }
        .cast {
          transform: translateY(-50%);
          //   position: absolute;
        }
      }
      h2 {
        margin: 0;
        margin-top: 20px;
        // margin-bottom: auto;
      }
      p {
        margin: 0;

        margin-top: 5px;
        font-size: 12px;
      }
      .highlight {
        background-color: #f90;
        margin-top: 10px;
        margin-bottom: auto;
        padding: 0.5rem 0.7rem;
        // margin-bottom: auto;
        border-radius: 40px;
        color: white;
      }
      button {
        border: none;
        background-color: transparent;
        padding: 0.4rem;
        padding-top: 0.6rem;
        box-sizing: border-box;
        border-top: 0.5px solid #ddd;
        color: #787878;
        align-self: stretch;
        cursor: pointer;
      }
    }
  }
}
